@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lora&family=Montserrat:wght@100&family=Nunito:wght@200&display=swap");
.list-group-item.active {
  background-color: orange;
  color: black;
  border-color: black;
  margin-left: 10px;
  width: 99%;
}

body {
  background-image: url(../imagenes/background.png);
  overflow-x: hidden;
  background: cover !important;
}

.container-fluid {
  background-color: orange;
}

.nav-link {
  color: firebrick !important;
  font-family: 'Anton', sans-serif;
}

body nav :hover {
  size: 100px;
}

.navbar-brand {
  color: firebrick !important;
  font-family: 'Anton', sans-serif;
  padding: 5px 25px;
}

.navbar {
  padding-top: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 125px;
}

.text-center {
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  color: orange;
  margin-top: 50px;
}

#sponsor {
  margin-top: 100px !important;
  margin-left: 810px !important;
  width: 200px;
}

/*footer*/
footer nav div {
  margin: 0px;
  cursor: pointer;
  bottom: 0px;
  position: fixed;
}

footer ul a {
  list-style: none;
  display: inline !important;
}

#iconos {
  padding: 10px 20px;
  margin-left: 200px;
}

.btn {
  width: 100%;
  background-color: orange;
}

button {
  background-color: orange !important;
  color: firebrick !important;
}

.btn-danger :hover {
  background-color: firebrick !important;
}

.rounded {
  max-height: 300px;
}

/*menu*/
.col-sm-12 {
  padding: 5px;
  margin-left: 10px;
}

.container {
  margin-top: 50px;
}

.btn {
  background-color: firebrick;
  border: orange;
  font-family: "Anton", sans-serif;
  color: black;
}

.btn-primary:hover {
  color: firebrick;
  background-color: yellow;
  border-color: black;
}

h5, .card-text {
  color: firebrick;
}

.card {
  background-color: black;
  font-family: 'Anton', sans-serif;
}

/*contacto*/
form div {
  font-family: 'Anton', sans-serif;
}

fieldset legend {
  color: black;
  font-family: 'Anton', sans-serif;
}

form {
  background-color: orange !important;
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-color: black;
  border-style: groove;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden;
}

/*prueba de ubicacion*/
.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*mapa del sitio*/
.img-fluid {
  width: 100%;
}
